body{
    display: flex;
    font-family: Arial,sans-serif ;
    background-color:#f4f7fa;
}
.sidebar{
    background-color: #1e90ff ;
    position: fixed;
    width: 220px;
    height: 100vh;
    color: white;
    padding: 20px;
    top: 0;
    left: 0;
}
.sidebar h2{
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 19px;
}
.sidebar ul li img {
    width: 20px;
    height: 20px;
}
.content{
    margin-left: 270px ;
    width: calc(100%-220px);
}
.navbar{
   display: flex;
   justify-content: space-between;
   padding: 15px 30px;
   background-color: white;
   position: sticky;
   top: 0;
   z-index: 100;
   align-items: center;
   box-shadow:0 2px 5px rgba(0,0,0,0.1);
}
.navbar-left p{

font-size: 14px;
  color: #777;
}
.navbar-left h1{
    margin-top: 5px;
  font-size: 18px;
  color: #333;
}
.search-bar{
    border-radius: 20px;
    padding:8px 15px;
    border: 1px solid #ccc;
    width: 300px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap:  15px;
      margin-left: 20px;
}
.btn{
    padding: 8px 12px;
    border-radius: 15px;
    color: white;
    background-color: #1e90ff;
    border: none;
    cursor: pointer;
}
.icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile{
    font-weight: bold;
    font-size: 14px;

}
.profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;

}
